aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
base58==2.1.1
bitarray==1.2.2
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
configparser==5.2.0
cryptography==36.0.1
CursesMenu==0.0.1a0
Cython==0.29.26
cytoolz==0.11.2
dl==0.1.0
docopt==0.6.2
docutils==0.18.1
ecdsa==0.17.0
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
fastapi==0.72.0
frozenlist==1.2.0
greenlet==1.1.2
h11==0.12.0
hexbytes==0.2.2
HTMLParser==0.0.2
idna==3.3
importlib-metadata==4.10.1
ipfshttpclient==0.7.0
jeepney==0.7.1
jsonschema==3.2.0
keyring==23.5.0
lockfile==0.12.2
lru-dict==1.1.7
lxml==4.7.1
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
numpy==1.22.1
ordereddict==1.1
parsimonious==0.8.1
Pillow==9.0.1
protobuf==3.19.3
psycopg2==2.9.3
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.12.0
pydantic==1.9.0
pyOpenSSL==21.0.0
pyrsistent==0.18.1
python-jose==3.3.0
python-multipart==0.0.5
requests==2.27.1
rlp==2.0.1
rsa==4.8
SecretStorage==3.3.1
shortuuid==1.0.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.17.1
toml==0.10.2
toolz==0.11.2
tornado==6.1
treepoem==3.14.0
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.0
varint==1.0.2
web3==5.23.0
websockets==9.1
yarg==0.1.9
yarl==1.7.2
zipp==3.7.0
